/* === core === */

body {
    background: #000000;
    color: #cccccc;
    font: normal 16px 'Open Sans';
    line-height: 12px;
    border: 0;
    margin: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

hr {    
    border: none;
    background-color: #ccc;
    height: 1px;
    margin-top: 10px;
}

.inline {
    display: inline-block;
}

/* === root === */

.root {
    display: grid;
    grid-template-columns: 256px auto;
    grid-template-rows: 100vh;
    grid-template-areas:
        "ctrls board";
}

.root-ctrls {
    grid-area: "ctrls";
}

.root-board {
    grid-area: "board";
    background: #3c4c2f;
    padding: 32px;
}

/* === controls === */

.controls__dim {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.controls__dim__input {
    border: none;
    border-bottom: 4px solid #aaaaaa;
    background: none;
    color: #cccccc;
    font-size: 40px;
    margin-bottom: 16px;
}

.drawer {
    margin-top: 8px;
}

.drawer__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-top: 1px solid #555555;
    border-bottom: 1px solid #555555;
    padding: 8px;
}

.drawer__body {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    max-height: 100%;
    overflow: auto;
}

.drawer:last-child .drawer-body {
    padding-bottom: 12px;
    border-bottom: 1px solid #555555;
}

.drawer-opener {
    transition: all 0.25s ease-out;
}

.drawer-open {
    height: 152px;
}

.drawer-closed {
    height: 0px;
}

.drawer__obj {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    border: 1px solid #555555;
    margin-top: 8px;
    margin-right: 12px;
    cursor: grab;
    padding: 4px;
    font-size: 14px;
}

.drawer__obj-drag {
    background: #444444;
}

/* === board === */

.grid__row {
    display: flex;
    justify-content: start;
}

.tile {
    width: 64px;
    height: 64px;
    background: #ffffff;
    color: #444444;
    border: 1px solid #666666;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tile:hover {
    /*background: #eeeeee;
    color: #444444;*/
    border: 1px solid lightblue;
}

.tile-selected {
    background: lightskyblue;
}

.tile__drop-hover-available {
    background: lightgreen !important;
}

.tile__drop-hover-unavailable {
    background: lightcoral !important;
}

.tile-move-available {
    background: lightblue;
}

.tile-move-unavailable {
    background: lightgray;
}

.tile-options__popup {
    position: absolute;
    background: #dddddd;
    border-radius: 5px;
    padding: 16px;
    display: flex;
    flex-wrap: nowrap;
}

.tile-options__popup-min {
    transition: visibility 0.1s, max-width 0.1s linear, height 0.1s linear;
    visibility: hidden;
    max-width: 0px;
    height: 0px;
}

.tile-options__popup-max {
    transition: visibility 0s, max-width 0.1s linear, height 0.1s linear;
    visibility: visible;
    max-width: 256px;
    height: 64px;
}

.tile-options__popup-top-right {
    bottom: 12px;
    left: 12px;
}

.tile-options__popup-top-left {
    bottom: 12px;
    right: 12px;
}

.tile-options__popup-bottom-right {
    top: 12px;
    left: 12px;
}

.tile-options__popup-bottom-left {
    top: 12px;
    right: 12px;    
}

.tile-option {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    border: 1px solid #555555;
    margin-right: 8px;
    cursor: pointer;
    font-size: 14px;
}

.tile-option:last-child {
    margin-right: 0px;
}